/* new style */
.new-tran-title {
  font-size: 17px;
  text-transform: uppercase;;
  line-height: 40px;
}
.transaction-title { font-size: 17px;font-weight: bold;margin: 0px }
.autocomplete-contact { 
    line-height: 90px;
    display: inline-block;
}  
.autocomplete-contact md-autocomplete {
  width: 100% !important;
  min-width: 100% !important;
}
.col-new-tran { 
  padding: 0px 15px;
  line-height: 31px;
  font-weight: 600;
}
i.fa-exchange { margin-right: 6px; }
.fixed-top {
  background: -webkit-linear-gradient(left, rgba(50, 213, 160, 1), rgba(87, 212, 218, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(50, 213, 160, 1), rgba(87, 212, 218, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(50, 213, 160, 1), rgba(87, 212, 218, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(50, 213, 160, 1), rgba(87, 212, 218, 1)); /* Standard syntax (must be last) */
}
tr.odd {
  background-color: rgba(0,0,0,.05);
}
.table td, .table th {
  vertical-align: middle;
}
table.dataTable thead th, table.dataTable thead td {
  background: #fff;
  color: #333;
  font-weight: 600;
}
.dataTables_filter  {
  margin-right: 0px !important;
}
.table th {
  padding: .75rem 15px !important;
  vertical-align: middle !important;
}
.user-input, .mobile-input { padding-left: 27px;}
.ml-15 { margin-left: 15px; }
.offer-td  { position: relative; }
.offer-td small { position: absolute;color: #fff;bottom: 1px;width: 100%;left: 0px;font-size: 13px; }
.offer-back {background-color: rgba(19, 147, 181, 0.6705882352941176);}
.offer-tag { background-color: rgba(19, 147, 181, 0.6705882352941176) !important; color: white;border-radius: 0;width: 100%;border-bottom-right-radius: 0px;border-top-right-radius: 0px;height: 60px; font-size: 17px; }
.offer-tag .md-button:not([disabled]):hover { background-color: rgba(19, 147, 181, 0.6705882352941176); }   
.net-amount { background-color: #1393b5ab; color: #fff; }
.bill-title { color: #333; padding: 15px 15px; font-size: 16px; }
.rp-card-block { background-color: #fff; color: #333; box-shadow: 0px 3px 13px 3px rgba(189, 189, 189, 0.48);-webkit-box-shadow: 0px 3px 13px 3px rgba(189, 189, 189, 0.48); }
.update-profile { color: #fff !important; font-size: 15px; cursor: pointer; }
.mobile-icon { font-size: 23px; top: 39px; left: 25px; }
.user-icon { left: 23px;position: absolute;top: 41px; }
#example1_length { margin-left: 0px; }
.itemsList { float: left;display: inline-block; }
.checkout-section { float: right;display: inline-block; }
#productList tr th { padding-right: 15px; padding-left: 15px; }
#productList tr td { padding: 10px 15px !important; }
.tax-table tr td { border-bottom: 1px solid #eceeef; }
.login-form md-card-content { padding-top: 25px; }
.login-form .md-primary { background-color: rgb(63,81,181); }
.login-form .logo { text-align: center;position: relative;}
.transaction-spin, .sale-spin { font-size: 24px;position: relative;top: -7px;left: 12px;color: #428192; }
.sale-spin { top: 3px;left: 12px;color: #48824a; }
.login-form .logo img { width: 50%;   position: absolute;
    top: -150px;
    left: 117px;
}
.flat-discount {
    height: 60px;
    border-radius: 0px;}
md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(93, 195, 86);
    color: rgba(255,255,255,0.87);
}
.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
    color: rgba(255,255,255,0.87);
    background-color: rgb(108, 202, 104);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, 
 md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input,
  md-input-container:not(.md-input-invalid).md-input-resized .md-input
   {
  background-color: rgb(108, 202, 104);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon, md-input-container:not(.md-input-invalid).md-input-focused md-icon {
  color: rgb(108, 202, 104);
}
.md-button.md-primary.md-raised:not([disabled]).md-focused {
  background-color: rgb(108, 202, 104);
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover {
  background-color: rgb(108, 202, 104);
}
.selected-offer-text { font-size: 15px; padding-right: 32px !important; }

/*  pages */
.star-rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 2px;
}

.star-rating > span {
    content: '\2605';
    font-size: 28px;
    color: #ccc;
    left: 0;
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 30px;
    margin: 0px 3px;
}

.star-rating > span:hover, .star-rating > span.active, .star-rating > span.active ~ span,
.star-rating > span:hover ~ span {
}

.star-rating > span:hover, .star-rating:not(:hover) > span.active, .star-rating:not(:hover) > span.active ~ span,
.star-rating > span:hover ~ span {
    content: "\2605";
    left: 0;
    color: #ff5909;
    font-size: 28px;
}

#api-feedback-container label {
    text-align: left;
    font-weight: 700;
    padding-left: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;

}

#api-feedback-container {
    max-width: 400px;
    margin: auto;
}

#feedback-phoneNumber, #optout-mobile {
    width: 260px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
}

#feedback-comments {
    width: 340px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
}

#first-input {
    margin-bottom: 30px;
}

.toggle-top-position {
    margin-top: 15px;
    margin-left: 10px;
}

.gs-template {
    padding: 1rem 0rem;
    text-align: center;

}

#gs-template-header {
    height: 10px;
    background: -webkit-linear-gradient(left, rgba(50, 213, 160, 1), rgba(87, 212, 218, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(50, 213, 160, 1), rgba(87, 212, 218, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(50, 213, 160, 1), rgba(87, 212, 218, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(50, 213, 160, 1), rgba(87, 212, 218, 1)); /* Standard syntax (must be last) */
}
.gs-title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

#reward-text {
    color: #7A217F;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom:10px;
}

.reward-table-header {
    color: #7A217F;
    text-align: center;
}
#logo {
    margin: auto;
}
.common-submit-btn {
    background-color: #7A217F;
    color: #fff;
    border-color: #7A217F;
}
.shop-title {
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
}

.img-circle {
    -webkit-border-radius: 400px;
    -moz-border-radius: 400px;
    border-radius: 400px;
    padding: 10px;
    border:1px solid #ccc;
}
.promotion-text-form-container{
    padding: 15px;
    border: 1px solid #ccc;
    margin: 15px 0 15px 0;
}
.tab-heading {
    font-size: 35px;
}
#api-feedback-container .star-rating {
    outline: -webkit-focus-ring-color auto 0px;
}

.gs-title {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.star-row {
    padding-bottom: 10px;
}
.img-125{
    max-width: 125px;
}


/* end pages */




