body,html{
    height: 100%;
    margin: 0;
    font-family: "Open Sans",sans-serif !important;
}


button:focus {outline:0 !important;}
input:focus {outline:0 !important;}



#login-image{
    /*background-image: url("../images/background.jpg");*/


    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

.margin-width{
    margin: 0;
    width:100%;
}


/*@import url('//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css');*/

/*.login-form {*/
    /*md-card*/
    /*{*/
        /*padding: 0!important;*/

        /*md-card-title {*/
        /*background-color: blue;*/
         /*}*/
    /*}*/
/*}*/

.md-button {
    color : black;
    background-color: rgba(70, 224, 24, 0.4);

}

.md-button:not([disabled]):hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.md-button[disabled] {
    color : rgba(0, 0, 0, 0.26);
    background-color: transparent;
}

.example table th {
    background-color: #0000ee;
}


.example table tr td {
    padding: 2px;
    background-color: #0000ee;
}


.check-icon {
    left: 23px;
    position:absolute;
    top:36px;
}

.times-icon {
    font-size: 22px;
    right:10px;
    position:absolute;
    top:41px;
}
.save-icon{
    font-size: 19px;
    right:20px;
    position:absolute;
    top:33px;
}

.icon-input {
    padding-right: 45px !important;
    padding-left: 45px; !important;
}

.input-border {
    border-bottom-left-radius: 70px;
    border-top-left-radius: 70px;
}
.enlarged-awesome{
    font-size: 5em;
}




.zero-padding{
    padding: 0 !important;
    margin: 0px;
}

.paddingLeft{
    padding-left: 17px !important;
    float: left;
}

/*.redeempoints{*/
    /*background-color: purple;*/
    /*color: white;*/
    /*width: 100%;*/
    /*padding: 0px;*/
    /*margin: 0px;*/
    /*border-top-right-radius: 0px;*/
    /*border-bottom-right-radius: 0px;*/
/*}*/
/*.redeempointoffer{*/
    /*background-color: darkolivegreen;*/
    /*color: white;*/
    /*width: 100%;*/
    /*padding: 0px;*/
    /*margin: 0px;*/
    /*border-top-left-radius: 0px;*/
    /*border-bottom-left-radius: 0px;*/
/*}*/

.redeemPoints{
    margin: 0px;
    font-size: 15px;
    text-align: center;
    border: 1px solid rebeccapurple;
    height: 50px;
}

/*data table css*/

table.dataTable thead th, table.dataTable thead td {
    background: #A9A9A9;  color: white;
}




tbody td {
    padding: 5px 5px !important;

}
tbody th{
    background: #A9A9A9;  color: white;
}
thead th{
    text-align: center;
}

.gobutton{
    background: #999999;
}
.newcolor{
    background: #e88d10;

}


#example_paginate{
    float: right;
}
.dataTables_filter {
    float: right;
    margin-right: 1rem;
    font-weight: bold;
}
#example_length{
    margin: 0px;
}

#example_length{
    float: left;
}
.dataTables_wrapper .dataTables_info {
    margin-left: 1rem;
    float: left;
}


.dataTables_length {
    float: left;
}

.dataTables_filter{
    display: inline;
    float: right;
}

thead th,tbody td{
    text-align: center;
}


.dataTables_wrapper #example1_length{
    margin-bottom: 0px;
}

#example1_wrapper{
    padding-top: 1vh;
}


@media(max-width: 720px)  {
    table.dataTable tbody th, table.dataTable tbody td{
        padding: 0px;
    }

    #example{
        font-size: 9px !important;
    }

    .dataTables_filter {
        float: left;
    }
    #example_paginate {
        float: right;
        font-size: 13px !important;
    }
}

.addeditemTable{
    padding: 0.45rem;
    font-size: 15px;
}



*:focus {outline:none !important}


.pickOffer{

    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3); /* Opera */
    padding: 10px;
    border: 0;
    margin-right: 20px;
    float: right;
    margin-top: 12px;
}


.useReedempoitsDiv{
    background: #c3c3c3;
    width: 100%;
    /*height: 40px;*/
    position: fixed;
    bottom:0%;
    width:100%;
    /*background-color: #393838;*/
    opacity: 1;
    margin-left: 0;

}
.remove-offer {
    top: 176px;
}
.remove-sale-offer {
    top: 6px;
}
.remove-promo {
   font-size: 20px;
    color:#fff;
    margin-left: 90px;
}

.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}
.autocomplete-custom-template li:last-child {
    border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 2;
}
.autocomplete-custom-template .item-title md-icon {
    height: 18px;
    width: 18px;
}
#bill-no-wrapper {
 background-color: #e4e4e4;
 padding:10px;
 height: 46px;
}
#bill-no-label {
    color: #333;
    padding-left: 5px;
    font-size: 15px;
}
#bill-no-input input{
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    width: 170px;   
}
.bill-no-add-button {
  top: 12px;
}
.sale-bill-no-add-button {
    top: 67px;
    right: 40px;
}
.promo-left-margin {
    margin-left: 20px;
    margin-bottom: 20px;
    background: #FFA000;
    padding: 6px;
    padding-left: 20px;
    margin-right: 17px;
}
.hide-promo-bottom-margin {
    margin-bottom: 30px;
}
.promo-apiled-wrapper{
    border-right: 1px solid hsla(0,0%,100%,.3);
    padding-right: 30px;
    color: #fff;
    font-weight: bold;
}
.set-left-position{
    margin-left: 25px;
}
#profileUpdateModal .md-button {
    background-color: rgb(250,250,250);
}
.md-datepicker-calendar-pane {
     z-index: 10000 !important;
 }
.update-profile-first-input {
    margin-top: 30px;
}

.offer-name {
    line-height: 49px;
}
.disabled {
  background-color: #9f9f9f !important;
}

.date-picker-section {
    margin-right: 0px;
    margin-left: 0px;
}
a.paginate_button {
    cursor: pointer;
}

table.dataTable thead .sorting_asc {
    background-image: url('https://cdn.datatables.net/1.10.16/images/sort_asc.png');
}
table.dataTable thead .sorting {
    background-image: url(https://cdn.datatables.net/1.10.16/images/sort_both.png);
}
table.dataTable thead .sorting_desc {
    background-image: url('https://cdn.datatables.net/1.10.16/images/sort_desc.png');
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}
.select-offer {
    width: 100%;text-align: center;padding: 8px 0px;font-size: 18px;font-weight: bold;letter-spacing: 2px;
}
.sticky-offer-section {
    position: fixed;
}
.sticky-offer-section .redeem-points {
    text-align: center;
    background: rgba(144, 238, 144, 0.3);
    border-radius: 90%;
    margin: 1px 52px 30px;
    height: 257px !important;
    padding: 85px;
}
.dataTables_filter input[type="search"] {
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    margin-left: 10px;
}
.paginate_button.previous.disabled { display: none; }
.paginate_button.next.disabled { display: none; }
#productList_paginate {
    text-align: right;
}
.add-tran { margin-bottom: 20px; }
.checkoutGreen { margin-bottom: 10px;margin-top: 10px;padding: 10px; }
.bg-light { background-color: #f5f9fb!important; }
.fw-normal { font-size: 18px; text-transform: uppercase; }
.dash-icon i { font-size: 50px; line-height: 58px; }
.font-30 { font-size: 30px; }
.transactions-title {
    padding-left: 15px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    margin: 0px;
}
/*.card-block-transaction{*/
    /*border-bottom: 10px solid grey;*/
/*}*/
