
<navbar></navbar>

<div style="height: 100%;">

    <div class="row margin-width justify-content-md-center container" style="padding: 75px 0 0 0;">
    <div class="col-md-4 col-sm-12 col-12" >
        <div class="sticky-offer-section">
            <div class="align-middle child align-items-center redeem-points">
                <i class='fa fa-gift  fa-5x enlarged-awesome' aria-hidden='true' style="line-height: 10px;"></i>
                <h3>{{custData.spades}}</h3>
                <h3>Spades</h3>
            </div>

            <div class="col-md-12 col-sm-12 col-12 text-center">
                <md-button style="width: 50%;height: 50px" ng-click="applyPromo()">APPLY</md-button>
            </div>
        </div>    
    </div>

    <div class="col-md-8 col-sm-12 col-12">

        <div ng-repeat="offers in customeroffersData track by $index">
            <div>
                <div class="row margin-width align-items-center row-eq-height" style="margin-bottom: 10px;">
                    <div class="col-md-3 col-sm-3 col-3 " style="padding: 0">
                        <p class="redeemPoints offer-name">{{offers.name}}</p>
                    </div>
                    <div class="col-md-9 col-sm-9 col-9" style="padding: 0">
                        <md-button style="background-color: {{offerItemColor[$index]}};height:50px; color: white;width: 100%;padding: 0px;margin: 0px; border-top-left-radius: 0px;border-bottom-left-radius: 0px;" ng-class="{'disabled': !((offers.spades <= custData.spades && offers.offerType == 1) || (custData.spades >= offers.spades && billAmount >= offers.value &&  offers.offerType == 2) || (billAmount > 0 && offers.offerType == 3) || (billAmount > 0 && offers.offerType == 5 && billAmount >= offers.minAmount))}">{{offers.cardText}}
                            <input class="pickOffer" type="checkbox" ng-model="offers.checked" ng-click="updateSelection($index, customeroffersData,offers)" ng-if="((offers.spades <= custData.spades && offers.offerType == 1) || (custData.spades >= offers.spades && billAmount >= offers.value &&  offers.offerType == 2) || (billAmount > 0 && offers.offerType == 3) || (billAmount > 0 && offers.offerType == 5 && billAmount >= offers.minAmount ))" />
                        </md-button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

    <div class="row useReedempoitsDiv" style="" >
        <div class="select-offer">SELECT OFFER</div>
        <br>
        <!-- <div ng-repeat="offers in customeroffersData track by $index" >
            <div>
                <div style="width: 300px">

                    <div class="col-md-12 col-sm-12">
                        <div class="row margin-width align-items-center row-eq-height">
                            <div class="col-md-4 col-sm-4 col-4 " style="padding: 0;height: 50px">
                                <p class="redeemPoints offer-name">{{offers.name}}</p>

                            </div>
                            <div class="col-md-8 col-sm-8 col-8" style="padding: 0">
                                <md-button style="background-color: {{offerRPItemColor[$index]}};color: white;width: 100%;padding: 0px;margin: 0px;height: 50px; border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; ">{{offers.cardText}}
                                    <input class="pickOffer" type="checkbox" ng-model="offers.checked" ng-click="updateSelection($index, customeroffersData, offers)"/
                                    ng-disabled="(offers.spades < custData.spades && offers.offerType == 1) || (custData.spades > offers.spades && billAmount > offers.spades &&  offers.offerType == 2) || (billAmount > 0 && offers.offerType == 3)"
                                    >
                                </md-button>

                            </div>

                        </div>
                    </div>
                </div>

                <br>
            </div>
        </div> -->




    </div>
</div>