<style>

</style>
<nav class="navbar navbar-dark bg-dark" id="gs-template-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center navbar-brand gs-title">GreenSpades</div>
</nav>
<main role="main" class="container">
    <div class="gs-template">
    <div ng-if="isLoaded" style="text-align: center;font-size: 18px;padding-top: 10px; padding-bottom:10px;">
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:100px"></i>
    </div>
    <div ng-if="isDataNotFound" style="text-align: center;font-size: 18px;padding-top: 10px; padding-bottom:10px;">
        Data Not Found
    </div>

    <div id="api-feedback-container" ng-controller="ApiFeedbackController" class="form-horizontal" ng-if="isDataLoaded && !isDataNotFound">

        <div class="form-group" id="first-input">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input type="text" id="feedback-phoneNumber" name="phoneNumber" placeholder="Enter Mobile No" ng-model="phoneNumber">
            </div>
        </div>

        <div class="row star-row" ng-repeat="data in feedbackParams track by $index">
            <label class="flex">{{data}}</label>
            <div class="flex star-rating" ng-click="starClicked($event, $index)">
                <span class="fa fa-star" ng-repeat="i in feedbackScale" ng-class="{'active': (5-i) == star[$parent.$index]}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-5 col-sm-5 col-md-5 col-lg-5">Comment</label>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-nowrap">
                <textarea name="comments" id="feedback-comments" ng-model="feedbackComments"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-success common-submit-btn" ng-click="submitFeedback()">Submit feedback</button>
            </div>
        </div>
    </div>
        <div class="text-center">
            <div>Powered By</div>
            <img class="img-fluid img-125" src="images/greenspade_logo_green_4textvertical.png" alt="Theme-Logo"/>
        </div>
    </div>
</main>



