<navbar></navbar>
<body>
<div style="background: white;padding-top: 5vh;height: 100vh">
    <div class="row container margin-width" style="padding: 0px;height: 95vh" >
        <div class="col-lg-8 col-md-8 col-12 col-sm-12" style="padding-top: 5vh;">
            <div class="row margin-width">
                <div class="col-lg-5 col-md-5 col-12 col-sm-12">
                    <div>
                        <label>Customer Name</label>
                        <input type='text' value={{customerData.Name}} ng-model="customerData.Name" class='form-control icon-input user-input' ng-disabled="true">
                        <a><i class='fa fa fa-user-o fa-1x fa-1x check-icon user-icon' aria-hidden='true'></i></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-12 col-sm-12">
                    <div >
                        <label>Phone Number</label>
                        <input type='text'  value={{::customerData.MobileNumber}} class='form-control icon-input mobile-input' ng-disabled="true">
                        <a><i class='fa fa-mobile fa-1x fa-1x check-icon mobile-icon' aria-hidden='true'></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-12 col-sm-12">
                    <label style="width: 100%">&nbsp;</label>
                    <a class="btn btn-info update-profile" ng-click="openProfileUpdateForm()"><i class='fa fa-pencil fa-1x' aria-hidden='true'></i>&nbsp;&nbsp;UPDATE</a>
                </div>

                <div class="modal fade" id="profileUpdateModal" tabindex="-1" role="dialog" aria-labelledby="profileUpdateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="profileUpdateModalLabel">Profile Update</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <md-content class="md-block">
                                <md-input-container class="md-icon-float md-block update-profile-first-input">
                                <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                <input ng-model="username" value={{username}} type="text" placeholder="Name">
                                </md-input-container>
                                <md-input-container class="md-block">
                                <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                                <input ng-model="customerData.MobileNumber" value={{customerData.MobileNumber}} type="text" ng-disabled="true" placeholder="Mobile Number">
                                </md-input-container>
                                <md-input-container class="md-block">
                                <!-- Use floating placeholder instead of label -->
                                <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
                                <input ng-model="customerData.Email" value={{customerData.email}} type="email" placeholder="Email">
                                </md-input-container>
                                <div class="row col-md-12 date-picker-section">
                                    <div class="date-of-birth col-md-6">
                                        <label>Date of Birth</label>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' class="form-control" name="datepicker1"/>
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="date-of-birth col-md-6">
                                        <label>Anniversary</label>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker2'>
                                                <input type='text' class="form-control" name="datepicker2"/>
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </md-content>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="updateProfile()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-width justify-content-start align-items-center" style="margin-top: 5vh">
                    <div class="col-md-4">
                        <div class="bg-success pl-2 lazy-up">
                            <div class="d-flex bg-light justify-content-between p-4">
                                <div class="ng-tns-c4-162">
                                    <h2 class="fw-normal">Spades</h2>
                                    <h3 class="fw-normal m-0 font-30">{{customerData.spades | number}}</h3>
                                </div>
                                <div class="dash-icon">
                                    <i class="fa fa-gift font-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-info pl-2 lazy-up">
                            <div class="d-flex bg-light justify-content-between p-4">
                                <div class="ng-tns-c4-162">
                                    <h2 class="fw-normal">Visits</h2>
                                    <h3 class="fw-normal m-0 font-30">{{customerData.visits | number}}</h3>
                                </div>
                                <div class="dash-icon">
                                    <i class="fa fa-thumbs-up font-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-primary pl-2 lazy-up">
                            <div class="d-flex bg-light justify-content-between p-4">
                                <div class="ng-tns-c4-162">
                                    <h2 class="fw-normal">Total Amount</h2>
                                    <h3 class="fw-normal m-0 font-30">{{customerData.transactionSum | number}}</h3>
                                </div>
                                <div class="dash-icon">
                                    <i class="fa fa-inr font-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-width justify-content-start" style="margin-top: 3vh">
                    <p class="transaction-title ml-15">TRANSACTION HISTORY</p>
                    <div class="col-md-12">
                        <table id="example1" class="table table-bordered" cellspacing="0" width="100%" style="font-size: 12px;height: 30vh">
                            <thead>
                                <tr>
                                    <th>Transaction ID</th>
                                    <th>Date</th>
                                    <th>Amount Paid</th>
                                    <th>Promo Amount</th>
                                    <th>Spades Earned</th>
                                    <th>Spades Used</th>
                                </tr>
                            </thead>
                            <tfoot>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="custData in customerData.transactions">
                                    <td style="text-align: center">
                                        {{custData._id }}
                                    </td>
                                    <td style="text-align: center">
                                        {{custData.transactionDate | date}}
                                    </td>
                                    <td style="clear:both;text-align: center">
                                        {{custData.totalAmount | number}}
                                    </td>
                                    <td style="text-align: center;">
                                        {{custData.promoCodeAmount || 0 | number}}
                                    </td>
                                    <td style="text-align: center">
                                        {{custData.spadesEarned | number}}
                                    </td>
                                    <td style="text-align: center">
                                        {{custData.spadesUsed}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 col-sm-12" style="background: rgba(93, 93, 93, 0.94);padding-top: 5vh;" >
            <div class="rp-card-block">
                <div class="bill-title">ADD BILL</div>
                <div class="card" style="border: none;">
                    <div class="card-block" style="padding: 0rem;width: 100%">
                        <div layout="row" id="bill-no-wrapper">
                            <div flex id="bill-no-label">Bill Number</div>
                            <div ng-show="billNumberDataEnable || hideBillNoButton" flex id="bill-no-input">
                                <input type="text" name="bill-no" placeholder="Enter Bill No." ng-model="billNumber"/>
                            </div>
                            <a><i  ng-hide="hideBillNoButton" ng-click="addBillNo()" class='fa fa-plus-square fa-2x times-icon bill-no-add-button' aria-hidden='true'></i></a>
                            <a><i  ng-show="hideBillNoButton" ng-click="removeBillNo()" class='fa fa-minus-square fa-2x times-icon bill-no-add-button' aria-hidden='true'></i></a>
                        </div>
                        <table style="width: 100%; margin-top: 30px;">
                            <tbody>
                                <tr style="border-bottom: 1px solid lightgrey;">
                                    <td class="zero-padding align-middle" style="height: 50px;border-right: 1px solid lightgray;width: 60%;    border-top: 1px solid lightgrey;">
                                        <label  class="card-title zero-padding paddingLeft" style="color: #7d7d7d"><b>Amount</b></label>
                                    </td>
                                    <td class="zero-padding align-middle" style="border-top: 1px solid lightgrey;">
                                        <input type="number" placeholder="---" min="0" ng-model="newBillAmount" style="width: 100px;border: none" ng-change="amountToPay(newBillAmount)" id="billamount" />
                                    </td>
                                </tr>
                                <tr ng-if="promoApplyforCust">
                                    <td class="zero-padding">
                                        <p  style="margin: 0;background: #6d972c;color: white;">Promo Applied :  {{customerData.promoCode.promoName}}</p>
                                    </td>
                                    <td class="zero-padding" style="background: #6d972c;color: white">
                                        {{discountPromoAmount}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 30px" class="zero-padding">
                                    </td>
                                    <td class="zero-padding">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td class="zero-padding offer-td" style="width: 33%">
                                        <md-button class="margin-width zero-padding offer-tag" ng-click="addOffer()"><i class="fa fa-tag" aria-hidden="true"></i> offer &nbsp
                                        </md-button>
                                        <small style="display: inline;">Spades</small>

                                    </td>
                                    <td class="zero-padding" style="width: 24vw;background: #F4F6f4">
                                        <p class="zero-padding s" ng-if="offerItemSelected">
                                            <span ng-if="(offerSelected.type == 1 || offerSelected.type == 2)">{{offerSelected.spades}} :</span> {{offerSelected.cardText}}</p>
                                            <p class="zero-padding" ng-if="(offerSelected.offerType == 1 || offerSelected.offerType == 2)">Used {{offerSelected.spades}} Points</p>
                                            <a><i ng-show="offerSelected.offerType" ng-click="removeSelectedoffer()" class='fa fa-close fa-2x times-icon remove-offer' aria-hidden='true'></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="height: 30px" class="zero-padding">
                                        </td>
                                        <td class="zero-padding">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table width="100%">
                                <tbody>
                                    <tr>
                                        <td class="zero-padding align-middle" style="height: 50px;border-right: 1px solid lightgray;width: 60%;background-color: #F4F6f4;border: none">
                                            <label  class="card-title zero-padding paddingLeft" style="background-color:  #F4F6f4;color: grey;"><b>Net Amount</b></label>
                                        </td>
                                        <td class="zero-padding align-middle net-amount" >
                                            {{netAmount}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="margin-top: 5vh">
                        <section style="text-align: center">
                            <button class="btn btn-info add-tran" style="text-align: center;color: white" ng-click="addTransaction()" ng-disabled="transactionLoader"><i class="fa fa-exchange" aria-hidden="true"></i> ADD TRANSACTION</button>
                            <i class="fa fa-refresh fa-spin transaction-spin" ng-if="transactionLoader"></i>
                        </section>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px">
                    <div class="col-md-12" style="cursor: pointer;" ng-click="addOffer()">
                        <div class="bg-warning pl-2 lazy-up">
                            <div class="d-flex bg-light justify-content-between p-4">
                                <div class="ng-tns-c4-162">
                                    <h2 class="fw-normal">Available Offers</h2>
                                    <h3 class="fw-normal m-0 font-30">{{customerData.offers.length | number}}</h3>
                                </div>
                                <div class="dash-icon">
                                    <i class="fa fa-tags font-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div class="modal fade" id="successfulProfileUpdateModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background: #7fad33">
                <h4 class="modal-title text-center" style="width: 100%;" >Profile Updated</h4>
            </div>
            <div class="modal-footer">
                <button type="button" style="width: 100%" class="btn btn-success text-center" data-dismiss="modal">ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="successfulTransactionModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background: #7fad33">
                <h4 class="modal-title text-center" style="width: 100%;" >Transaction Done</h4>
            </div>
            <div class="modal-body">
                <p style="text-align: center">Transaction ID : {{successfulTransaction._id}}</p>
                <p style="text-align: center" ng-if="successfulTransaction.spadesEarned > 0">{{successfulTransaction.spadesEarned}} Points addded from last transaction.</p>
            </div>
            <div class="modal-footer">
                <button type="button" style="width: 100%" class="btn btn-success text-center"  ng-click="goToMerchant()">ok</button>
            </div>
        </div>
    </div>
</div>