<!-- <html>
</html>
<body>
    <div id="login-image" >
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="row container justify-content-center margin-width">
                        <div class="col-lg-6">
                            <form name="Form" class="loginForm">
                                <md-input-container class="md-block">
                                <label>Enter User Id</label>
                                <input type="text" name="shopname" ng-model="shop.formData.name"  required=""/>
                                <div ng-messages="Form.shopname.$error" role="alert">
                                    <div ng-message="required" class="my-message">Please enter User Id.</div>
                                </div>
                                </md-input-container>
                                <md-input-container class="md-block">
                                <label>Enter Password</label>
                                <input id="pwd" type="password" name="password" ng-model="shop.formData.password"  required ng-maxlength="15"/>
                                <div ng-messages="Form.password.$error" role="alert">
                                    <div ng-message="required" class="my-message">Please enter your password.</div>
                                </div>
                                </md-input-container>
                                <div class="row justify-content-center">
                                    <div class="col-6">
                                        <md-button class="margin-width" ng-disabled="!Form.$valid" ng-click="shop.submit()" class="md-raised md-primary" style="color: white;background: #6D972B;">&nbsp Login &nbsp</md-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body> -->

<div layout="row" flex="flex" layout-align="space-around" ng-cloak="ng-cloak" class="login-form" style="padding: 10px 0px;">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33" style="margin-top: 200px;">
        <div flex="flex" class="logo"><img src="./images/logo.png"></div>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2 class="align-center"><span>Welcome to GreenSpades</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form" class="loginForm"  autocomplete="off">
            <md-input-container class="md-block">
               <label>Username</label>
               <input type="text" name="shopname" ng-model="shop.formData.name" required="" autocomplete="off"/>
                <div ng-messages="Form.shopname.$error && Form.shopname.$touched" role="alert">
                    <div ng-message="required" class="my-message">Please enter User Id.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input id="pwd" type="password" name="password" ng-model="shop.formData.password"  required ng-maxlength="15" autocomplete="off"/>
              <div ng-messages="Form.password.$error && Form.password.$touched" role="alert" multiple="">  
                <div ng-message="required" class="my-message">Please enter your password.</div>
              </div>
            </md-input-container>
            <md-button  ng-disabled="!Form.$valid" ng-click="shop.submit()" class="md-raised md-primary text-center">&nbsp Sign In &nbsp</md-button>
          </form>
        </md-card-content>
    </md-card>
    </div>
    <!-- Angular Material Dependencies-->


