<navbar></navbar>
<div style=" padding-bottom: 2%;width: 100vw;height: 100vh" >
<div class="loader" ng-show="loader"></div>
<h2>Add Items</h2>
<div class="row" style="padding-top: 2vh;margin-left: 0px; margin-right: 0px;">
    <div class="col-lg-12">
        <div class="itemsList col-lg-6 col-12 col-sm-12">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-12 col-sm-12" style="max-width: 39%;">
                    <div>
                        <label>Customer Name</label>
                        <input type='text' value={{customerData.Name}} ng-model="customerData.Name" class='form-control icon-input user-input' ng-disabled="true">
                        <a><i class='fa fa fa-user-o fa-1x fa-1x check-icon user-icon' aria-hidden='true'></i></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-12 col-sm-12" style="max-width: 38%;">
                    <div >
                        <label>Phone Number</label>
                        <input type='text'  value={{::customerData.MobileNumber}} class='form-control icon-input mobile-input' ng-disabled="true">
                        <a><i class='fa fa-mobile fa-1x fa-1x check-icon mobile-icon' aria-hidden='true'></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-12 col-sm-12" style="max-width: 10%;">
                    <label style="width: 100%">&nbsp;</label>
                    <a class="btn btn-success update-profile" ng-click="openProfileUpdateForm()"><i class='fa fa-pencil fa-1x' aria-hidden='true'></i>&nbsp;&nbsp;UPDATE</a>
                </div>

                <div class="modal fade" id="profileUpdateModal" tabindex="-1" role="dialog" aria-labelledby="profileUpdateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="profileUpdateModalLabel">Profile Update</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <md-content class="md-block">
                                <md-input-container class="md-icon-float md-block update-profile-first-input">
                                <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
                                <input ng-model="username" value={{username}} type="text" placeholder="Name">
                                </md-input-container>
                                <md-input-container class="md-block">
                                <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                                <input ng-model="customerData.MobileNumber" value={{customerData.MobileNumber}} type="text" ng-disabled="true" placeholder="Mobile Number">
                                </md-input-container>
                                <md-input-container class="md-block">
                                <!-- Use floating placeholder instead of label -->
                                <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
                                <input ng-model="customerData.Email" value={{customerData.email}} type="email" placeholder="Email">
                                </md-input-container>
                                <div class="row col-md-12 date-picker-section">
                                    <div class="date-of-birth col-md-6">
                                        <label>Date of Birth</label>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' class="form-control" name="datepicker1"/>
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="date-of-birth col-md-6">
                                        <label>Anniversary</label>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker2'>
                                                <input type='text' class="form-control" name="datepicker2"/>
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </md-content>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="updateProfile()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table datatable="ng" class="row-border hover" id="productList">
                <thead class="search-table">
                    <tr>
                        <th class="text-left">Items</th>
                        <th class="text-left">Category</th>
                        <th class="text-right">Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in allItems track by $index">
                        <td class="text-left" style="font-size: 15px;">{{item.itemName}}</td>
                        <td class="text-left" style="font-size: 15px;">{{item.categoryName}}</td>
                        <td class="text-right" style="font-size: 15px;">&#8377; {{item.itemPrice}}</td>
                        <td style="width:100px;font-size: 15px;">
                            <div>
                                <button ng-click="removeItem($index)" style="border: 0px;background-color: transparent;"><i class="fa fa-minus" aria-hidden="true" style="color: green"></i></button>
                                <span>{{item.quantity}}</span>
                                <button ng-click="addItem($index)" style="float: right;border: 0px;background-color: transparent;"><i class="fa fa-plus" aria-hidden="true" style="color: red"></i></span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 checkout-section">
        <div style="width: 100%;text-align: center; color: #333;background-color: #f5f5f5;border:1px #ddd solid;padding: 4px;padding: 8px;margin-top: 12px;">
            <span style="font-size: 15px">Customer Details : {{customer.name}} | {{ customer.phone}}  </span><br>
            <span style="font-size: 13px">{{customer.email}}</span>
        </div>
        <div layout="row" id="bill-no-wrapper" ng-if="false">
            <div flex="20" id="bill-no-label">Add Bill</div>
            <div ng-show="billNumberDataEnable || hideBillNoButton" flex id="bill-no-input">
                <input type="text" name="bill-no" placeholder="Enter Bill No." ng-model="billNumber"/>
            </div>
            <a><i  ng-hide="hideBillNoButton" ng-click="addSaleBillNo()" class='fa fa-plus-square fa-2x times-icon sale-bill-no-add-button' aria-hidden='true'></i></a>
        </div>
        <div class="panel panel-default" >
            <div class="panel-heading">
                <p class="transaction-title" style="margin: 10px 0;text-align: center;">CHECKOUT</p>
            </div>
            <div class="panel-body">
                <table class="table greyBorder table-hover">
                    <thead>
                        <th width="30%" class="text-left redColor addeditemTable">Item</th>
                        <th width="30%" class="redColor addeditemTable">Quantity</th>
                        <th width="30%" class="redColor addeditemTable">Price</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in allItems track by $index">
                            <td  ng-if="item.quantity" class="text-left addeditemTable">{{item.itemName}}</td>
                            <td class="addeditemTable" ng-if="item.quantity">
                                <button ng-click="removeItem($index)" style="border: 0px;background-color: transparent;"><i class="fa fa-minus" aria-hidden="true" style="color: green"></i></button>
                                <span>{{item.quantity}}</span>
                                <button ng-click="addItem($index)" style="border: 0px;background-color: transparent;"><i class="fa fa-plus" aria-hidden="true" style="color: red"></i></button>
                            </td>
                            <td class="addeditemTable" ng-if="item.quantity">&#8377; {{item.itemPrice * item.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
                <hr ng-if="" style="margin-top: 0px">
                <div style="text-align: center;">
                    <span class="addeditemTable">Total Item Amount :- &nbsp; &nbsp; Rs. {{totalAmount - totalTaxAmount  | number:2}} </span>
                </div>
                <div layout="row"  ng-show="false" ng-class="{ 'hide-promo-bottom-margin' : !isPromoCodeApplied }">
                    <div class="input-group col-md-6">
                        <span class="input-group-addon" id="basic-addon11" style="font-size:11px;width: 100px;">Promo Code</span>
                        <input type="text" class="form-control" placeholder="PromoCode" aria-describedby="basic-addon10" ng-model="promoCode">
                    </div>
                    <button type="button" class="btn btn-sm checkoutGreen" ng-click="applyPromoCode()" style="position: absolute;left:60%;line-height: 1.8;width: 100px">Apply</button>
                </div>
                <br>
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td class="zero-padding offer-td" style="width: 33%; background-color: rgba(84, 156, 88, 0.84) !important">
                                <md-button class="margin-width zero-padding offer-tag" style="background: none !important" ng-click="addOffer()"><i class="fa fa-tag" aria-hidden="true"></i> offer &nbsp
                                </md-button>
                                <small style="display: inline;">Spades</small>
                            </td>
                            <td class="zero-padding" style="width: 24vw;background: #F4F6f4;position: relative;">
                                <p class="zero-padding s selected-offer-text" ng-if="offerItemSelected">
                                    <span ng-if="(offerSelected.type == 1 || offerSelected.type == 2)">{{offerSelected.spades}} :</span> {{offerSelected.cardText}}</p>
                                    <p class="zero-padding" ng-if="(offerSelected.offerType == 1 || offerSelected.offerType == 2)">Used {{offerSelected.spades}} Points</p>
                                    <a><i ng-show="offerSelected.offerType" ng-click="removeSelectedSaleOffer()" class='fa fa-close fa-2x times-icon remove-offer' style="top:14px;" aria-hidden='true'></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width:100%; margin-top: 20px;">
                        <tbody>
                            <tr>
                                <td class="zero-padding offer-td" style="width: 33%">
                                    <md-button class="margin-width zero-padding offer-tag" style="background-color: rgba(84, 156, 88, 0.84) !important" ><i class="fa fa-tag" aria-hidden="true"></i> Flat Discount &nbsp
                                    </md-button>
                                </td>
                                <td class="zero-padding" style="width: 24vw;background: #F4F6f4;position: relative;">
                                    <input type="number" name="flatDiscount" ng-model="flatDiscount" class="form-control flat-discount" ng-change="refreshCheckoutCalculation()">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row margin-width align-items-center" style="text-align: center;padding: 0 18px 0 18px" ng-if="showOffer">
                        <div class="col-md-4 col-lg-4 col-sm-4 col-4 zero-padding">
                            <!--<button ng-click="" style="background-color: purple;color: white;width: 100% ">offer</button>-->
                            <md-button class="margin-width" ng-click="addOffer()" style="background-color: purple;color: white;
                            width: 100%;border-bottom-right-radius: 0px;border-top-right-radius: 0px; ">&nbsp offer &nbsp</md-button>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 col-8 zero-padding" style="height: 35px;background: rgb(185, 187, 189)">
                            <p  ng-if="offerSelected.offerType == 2" style="background: #b9bbbd;margin: 0px;font-size: 18px;height: 35px;padding-top: 3px" class="card-link align-middle">{{offerSelected.spades}} : {{offerSelected.description}}</p>
                            <p  ng-if="offerSelected.offerType == 1" style="height: 35px;background: #b9bbbd;margin: 0px;font-size: 18px;padding-top: 3px" class="card-link align-middle">Used {{offerSelected.spades}} Points</p>
                            <a><i ng-click="removeSelectedSaleOffer(offerSelected)" class='fa fa-close fa-2x times-icon remove-sale-offer' aria-hidden='true'></i></a>
                        </div>
                    </div>
                    <div>
                        <p class="transaction-title" style="margin: 10px 0;text-align: center;">TAXES</p>
                        <table class="table tax-table">
                            <tr ng-repeat="tax in allTaxes">
                                <td>{{tax.taxName}}</td>
                                <td> {{tax.taxPercent}} %</td>
                                <td>&#8377; {{tax.amount | number:2}}</td>
                            </tr>
                        </table>
                    </div>
                    <div style="font-size: 16px; margin-bottom: 10px;">
                        <span style="padding: 2px;font-size: 16px">Total Amount (incl. Taxes) : &nbsp;</span>
                        <div  style="display: inline">
                            <span><b> &#8377; {{totalAmount | number:2}}</b></span>
                        </div>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <span ng-show="calculatedDiscount > 0 && offerItemSelected" style="width: 100%;display: inherit;margin-bottom: 10px;" > Discount : <b>{{calculatedDiscount | number:2}}</b></span>
                        <span>Amount to be paid : <b> &#8377; {{(amountToBePaid | number:2)}}</b></span>
                    </div>
                    <input type="checkbox" ng-model="sales.notifyUser" ng-change="notifyUserSet()"><label>&nbsp;&nbsp;Notify user of the sale?</label>
                    <input type="checkbox" ng-model="salesBillPrint"><label>&nbsp;&nbsp;print</label>
                </div>
                <div class="text-center">    
                    <button type="button" class="btn btn-sm checkoutGreen btn-success" id="btnPrint" ng-click="checkout('printThis')" ng-disabled="saleLoader" style="font-size:20px;width: 55%">Checkout</button>
                    <i class="fa fa-refresh fa-spin sale-spin" ng-if="saleLoader"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Order review-->
<div class="modal fade" tabindex="-1" role="dialog" id="reviewOrder">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Review Order</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <th width="30%">Item</th>
                        <th width="30%">Quantity</th>
                        <th width="30%">Price</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in allItems">
                            <td ng-if="item.quantity">{{item.itemName}}</td>
                            <td ng-if="item.quantity">{{item.quantity}}</td>
                            <td ng-if="item.quantity">{{item.itemPrice * item.quantity}}</td>
                        </tr>
                    </tbody>
                </table>
                <hr>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon10" style="width: 100px;">Min. Amount</span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon10" ng-model="editPromoCode.amount">
                </div>
                <div style="font-size: 20px;">
                    <span>Total Amount : &nbsp;</span>
                    <span><b>{{totalAmount}}</b></span>
                    {{promoCodeDiscount}}
                    <div ng-show="promoCodeDiscount > 0">
                        <span>Promo Discount : <b>{{promoCodeDiscount}}</b></span>
                        <span>Amount to be paid : {{totalAmount}} - {{promoCodeDiscount}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Done</button>
            </div>
            </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!--<div class="invoice-box" id="printThis">-->
            <!--<div class="page">-->
            <!--<h1>This is Page 1</h1>-->
            <!--</div>-->
            <!--<div class="page">-->
            <!--<h1>This is Page 2</h1>-->
            <!--</div>-->
            <!--<div class="page">-->
            <!--<h1>This is Page 3</h1>-->
            <!--</div>-->
            <!--</div>-->
            <div hidden>
                <div id="printThis" >
                    <div id="resturantData">
                        <span style="width: 5cm;"><b>{{merchantName}}</b></span><br>
                        <span style="width: 4cm;"><span ng-bind-html="address"></span></span><br>
                        <span>Ph. No. - {{billMobileNumber}}</span>
                        <br>
                        <span style="width: 2.5cm;" ng-if="tinNumber">TIN</span>
                        <span style="width: 2.5cm;" ng-if="tinNumber">{{tinNumber}}</span>
                        <br ng-if="tinNumber">
                        <span style="width: 4cm;">Date & Time {{salesDate | date:'dd-MM-yyyy HH:mm'}}<br><br></span>
                    </div>
                    <table style="width: 205px;"><thead>
                        <th align="left" style="text-align: left;">Item</th>
                        <th align="center" style="text-align: center;">Qty</th>
                        <th align="right" style="text-align: right;">Price</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in allItems track by $index"  ng-if="item.quantity"  style="table-layout: fixed;width:5cm; " >
                            <td ng-if="item.quantity" style="text-align: left;font-size: 13px;" >{{item.itemName}}</td>
                            <td ng-if="item.quantity" style="text-align: center;" >
                                <span>{{item.quantity}}</span>
                            </td>
                            <td ng-if="item.quantity" style="text-align: right;" > <b>Rs. {{item.itemPrice * item.quantity}}</b></td>
                        </tr>
                    </tbody>
                </table>
                <div>---------------------------------------<br></div>
                <table>
                    <tr ng-repeat="tax in allTaxes">
                        <td style="font-weight: bold;">{{tax.taxName}}</td>
                        <td style="text-align: right;">Rs. {{tax.amount | number:2}}</td>
                    </tr>
                    <tr ng-if="calculatedDiscount > 0 && calculatedDiscount != ''">
                        <td style="font-weight: bold;">Discount {{calculatedDiscount}}</td>
                        <td style="text-align: right;">Rs. {{calculatedDiscount | number:2}}</td>
                    </tr>
                    <tr ng-if="offerSelected.spades > 0">
                        <td style="font-weight: bold;">Spades Used</td>
                        <td style="text-align: right;">{{offerSelected.spades || 0 | number:2}}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">Total</td>
                        <td style="text-align: right;">Rs. {{totalAmount | number:2}}</td>
                    </tr>
                    <tr ng-if="calculatedDiscount > 0 && calculatedDiscount != ''">
                        <td style="font-weight: bold;">Amount to be paid</td>
                        <td style="text-align: right;">Rs. {{amountToBePaid | number:2}}</td>
                    </tr>
                </table>
            </div>
            <hr>
        </div>
    </div>
    <!-- The modal -->
    <div class="modal fade" id="addoffer" tabindex="-1" role="dialog" aria-labelledby="modalLabelLarge" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" ></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding:0;">
                    <div class="row margin-width justify-content-md-center container" style="padding:0; padding-top: 29px;">
                        <div class="col-md-4 col-sm-12 col-12" >
                            <div style="text-align: center;background: rgba(144, 238, 144, 0.3);border-radius: 50%;height: 200px" class="align-middle child align-items-center">
                                <i style="padding-top:20px" class='fa fa-gift  fa-5x enlarged-awesome' aria-hidden='true'></i>
                                <h3 style="font-size: 1rem">{{custData.spades}}</h3>
                                <h3 style="font-size: 1rem">Spades</h3>
                            </div>
                            <md-button style="width: 100%" ng-click="applyOfferCode()">APPLY</md-button>
                        </div>
                        <div class="col-md-8 col-sm-12 col-12">
                            <div ng-repeat="offers in customeroffersData track by $index">
                                <div ng-if="offers.spades < custData.spades && offers.redeemLoyaltyType == 2">
                                    <div class="row margin-width align-items-center row-eq-height">
                                        <div class="col-md-3 col-sm-3 col-3 " style="padding: 0">
                                            <p class="redeemPoints">{{offers.spades}}<br>points</p>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-9" style="padding: 0">
                                            <md-button  style="height: 50px;background-color: {{offerItemColor[$index]}};color: white;width: 100%;padding: 0px;margin: 0px; border-top-left-radius: 0px;
                                            border-bottom-left-radius: 0px; ">{{offers.description}}
                                            <input type="checkbox" class="pickOffer" ng-model="offers.checked" ng-click="updateSelection($index, customeroffersData,offers)"/></md-button>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div style="background: #c3c3c3;width: 100%" >
                            <div style="width: 100%;text-align: center">Discount on bill
                            </div>
                            <br>
                            <div ng-repeat="offers in customeroffersData track by $index" >
                                <div ng-if="offers.spades < billAmount && offers.redeemLoyaltyType == 1">
                                    <div class="col-md-12 col-sm-12" >
                                        <div class="row margin-width align-items-center row-eq-height">
                                            <div class="col-md-3 col-sm-3 col-3 " style="padding: 0">
                                                <p class="redeemPoints">{{offers.spades}}<br>points</p>
                                            </div>
                                            <div class="col-md-9 col-sm-9 col-9" style="padding: 0">
                                                <md-button   style="height: 50px;background-color: {{offerRPItemColor[$index]}};color: white;width: 100%;padding: 0px;margin: 0px; border-top-left-radius: 0px;
                                                border-bottom-left-radius: 0px; ">{{offers.description}}
                                                <input type="checkbox" class="pickOffer" ng-model="offers.checked" ng-click="updateSelection2($index, customeroffersData, offers)"/>
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="successfulProfileUpdateModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background: #7fad33">
                    <h4 class="modal-title text-center" style="width: 100%;" >Profile Updated</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" style="width: 100%" class="btn btn-success text-center" data-dismiss="modal">ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="successfulTransactionModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background: #7fad33">
                    <h4 class="modal-title text-center" style="width: 100%;" >Transaction Done</h4>
                </div>
                <div class="modal-body">
                    <p style="text-align: center">Transaction ID : {{transactionId}}</p>
                    <p style="text-align: center" ng-if="transactionSpadesEarned > 0">{{transactionSpadesEarned}} Points addded from last transaction.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" style="width: 100%" class="btn btn-success text-center"  ng-click="goToMerchant()">ok</button>
                </div>
            </div>
        </div>
    </div>