
<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target=".dual-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="navbar-collapse collapse dual-collapse">
        <ul class="navbar-nav" ng-hide="homePageURL">
            <li class="nav-item active">
                <a class="nav-link" onclick="window.history.back()" style="font-family: sans-serif;font-size: 1.2em;padding: 0;cursor: pointer">Back</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse dual-collapse">
        <ul class="navbar-nav flex">
            <li class="nav-item active flex-100 text-center">
                <a class="nav-link" ng-click="home()" style="font-family: sans-serif;font-size: 1.2em;padding: 0;cursor: pointer">Home</a>
            </li>
        </ul>
    </div>


    <!--<a class="navbar-brand d-flex mx-auto" href="#">Greenspades</a>-->
    <div class="navbar-collapse collapse dual-collapse">
        <ul class="navbar-nav flex">
            <li class="nav-item flex-100 text-right">
                <a class="nav-link" ng-click="logout()" href="#" style="font-family: sans-serif;color: white;font-size: 1.2em;padding: 0;">Logout</a>
            </li>
        </ul>
    </div>
</nav>