<navbar></navbar>
<body>
<div style="background: white;padding-top: 10vh;height: 100vh">
    <div class="container" style="height: 5vh">
        <div class="row justify-content-start">
            <div class="col-new-tran">
              <i class="fa fa-exchange" aria-hidden="true"></i> <span class="new-tran-title">New Transaction</span>
            </div>
            <div class="col-md-6">
                <div class="input-group autocomplete-contact">
                    <md-autocomplete
                    ng-disabled="isDisabled"
                    md-no-cache="noCache"
                    md-selected-item="selectedItem"
                    md-search-text-change="searchTextChange(searchText)"
                    md-search-text="searchText"
                    md-selected-item-change="selectedItemChange(item)"
                    md-items="item in querySearch(searchText)"
                    md-item-text="item.MobileNumber"
                    md-min-length="3"
                    md-input-maxlength="10"
                    md-input-minlength="10"
                    placeholder="Enter Mobile Number"
                    md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                    <span class="item-title">
                        <span> {{item.Name}} <span ng-if="item.Name">-</span> {{item.MobileNumber}} </span>
                    </span>
                    </md-item-template>
                    <md-not-found>
                        <span> No Results Found</span>
                    </md-not-found>
                    </md-autocomplete>
                </div>
            </div>
            <div class="col">
              <span style="display: inline-block;margin-right: 15px;">
                  <button class="btn btn-default gobutton btn-info" id="gobutton1" type="button" ng-click="customerDetails()" style="color: white">Add Transaction</button>
              </span>
              <span>
                  <button class="btn btn-default gobutton btn-success" id="gobutton2" type="button" ng-click="makeSale()" style="color: white">Make Sale</button>
              </span>
            </div>
        </div>
        <hr style="width: 100%">
        <div class="row margin-width">
            <div class="col-md-9 col-sm-12 col-12" style="padding: 0px">
                <p class="transaction-title">TRANSACTION HISTORY</p>
                <table id="example" class="table table-bordered" cellspacing="0" width="100%" style="font-size: 12px;height: 60vh">
                    <thead>
                        <tr>
                            <th>Transaction ID</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Mobile Number</th>
                            <th>Amount Paid</th>
                            <th width="94px">Promo Amount</th>
                            <th>Spades Earned</th>
                            <th>Spades Used</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="custData in transactionsData">
                            <td style="text-align: center">
                                {{custData._id }}
                            </td>
                            <td style="text-align: center">
                                {{custData.transactionDate | date }}
                            </td>
                            <td style="text-align: center">
                                {{custData.customer.name || '--' }}
                            </td>
                            <td style="text-align: center">
                                {{custData.customer.mobileNumber}}
                            </td>
                            <td style="clear:both;text-align: center">
                                {{custData.amountPaid | number}}
                            </td>
                            <td style="text-align: center;width: 94px">
                                {{custData.promoCodeAmount || 0 | number}}
                            </td>
                            <td style="text-align: center">
                                {{custData.spadesEarned | number}}
                            </td>
                            <td style="text-align: center">

                                {{custData.spadesUsed}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 col-sm-12 col-12" style="margin-top: 10vh;padding-right: 0;">
                <div ng-repeat="kpi in kpidata track by $index">
                    <div class="card" style="margin-top: 14px;">
                        <div class="card-block card-block-transaction" style="border-bottom: 10px solid {{coloo[$index]}};padding-bottom: 0px;padding-top: 10px;">
                            <h4 class="card-title" style="color: black;padding: 0;margin: 0;font-size: 1.5em;">{{kpi.value | number}}</h4>
                            <p class="card-link" style="float: left;color: {{coloo[$index]}}; text-transform: uppercase;margin-top: 10px;"><b>{{kpi.text1}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        
      </div>
    </body>