<style>

</style>
<nav class="navbar navbar-dark bg-dark" id="gs-template-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center navbar-brand gs-title">GreenSpades</div>
</nav>
<div ng-if="isLoaded" style="text-align: center;font-size: 18px;padding-top: 10px; padding-bottom:10px;">
    <i class="fa fa-circle-o-notch fa-spin" style="font-size:100px"></i>
</div>
<div ng-if="isDataNotFound" style="text-align: center;font-size: 18px;padding-top: 10px; padding-bottom:10px;">
    Data Not Found
</div>
<main role="main" class="container" ng-if="isDataLoaded && !isDataNotFound">
    <div class="gs-template">

        <div class="text-center">
        <img src="{{merchantData.logos.mobileWeb}}" width="64" height="64" alt="thumbnail" class="img-circle"><span class="shop-title">{{merchantData.name}}</span>
        </div>
        <div class="text-center" style="margin-top:10px;">
            Are you sure you want to opt out? You'd miss out on receiving exciting offers.
        </div>
        <div id="option-out-container" ng-if="!isDataNotFound">
            <header ng-controller="OptionOutController">
                <form name="optoutForm">
                <div style="text-align: center;font-size: 18px;padding-top: 10px; padding-bottom:10px;">
                    <input type="number" name="mobileNumber" id="optout-mobile" placeholder="Enter Your Mobile Number" ng-model="mobileNumber">
                </div>


                <div style="text-align: center;font-size: 18px;padding-top: 10px; padding-bottom:10px;">
                    <button class="btn btn-success common-submit-btn" ng-click="submitOptionOut()">Submit</button>
                </div>
                </form>

            </header>

        </div>
        <div class="text-center">
            <div>Powered By</div>
            <img class="img-fluid img-125" src="images/greenspade_logo_green_4textvertical.png" alt="Theme-Logo"/>
        </div>
    </div>
</main>
