<style>
</style>
<body onload="noBack();">
<nav class="navbar navbar-dark bg-dark" id="gs-template-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center navbar-brand gs-title">GreenSpades</div>
</nav>
<main role="main" class="container">
    <div class="gs-template">
        <div style="text-align: center;font-size: 18px;padding-top: 10px; padding-bottom:10px;">
            No problem! You won't recieve any more msgs from us
        </div>
        <div class="text-center">
            <div>Powered By</div>
            <img class="img-fluid img-125" src="images/greenspade_logo_green_4textvertical.png" alt="Theme-Logo"/>
        </div>
    </div>
</main>
</body>

<script type="text/javascript">
  var history_api = typeof history.pushState !== 'undefined';
  // history.pushState must be called out side of AngularJS Code
  if ( history_api ) history.pushState(null, '', '#StayHere');
</script>



