<style>
    table td {
        vertical-align: middle;
        text-align: center;
        height: 40px;
    }

    .panel-default {
        border-color: #ddd !important;
    }
    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .panel-body {
        padding: 15px;
    }
    .shop-title {
        font-size: 18px;
        font-weight: 600;
        margin-left: 10px;
    }
    .container {
        padding-right: 5px;
        padding-left: 5px
    }
    @media only screen and (max-width: 480px) {
    .offer-h4 {
        font-size: 0.8rem;
        font-weight: 600;
        }
    .term-condition {
        font-size: 0.7rem;
        }
        .term-condition-label {
        font-size: 14px;
        font-weight: 600;
        }
    }
    @media only screen and (max-width: 360px) {
    .offer-h4 {
        font-size: 0.8rem;
        font-weight: 600;
        }
    .term-condition {
        font-size: 0.5rem;
        }
        .term-condition-label {
        font-size: 12px;
        font-weight: 600;
    }
    }
    @media only screen and (min-width: 481px){ 
        .term-condition-label {
        font-size: 18px;
        font-weight: 600;
    }
    .term-condition {
        font-size: 0.8rem;
        }

    }
    
    

</style>
<nav class="navbar navbar-dark bg-dark" id="gs-template-header">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center navbar-brand gs-title">GreenSpades</div>
</nav>
<main role="main" class="container">
    <div class="gs-template">
        <div ng-if="isLoaded" style="text-align: center;font-size: 18px;padding-top: 10px; padding-bottom:10px;">
            <i class="fa fa-circle-o-notch fa-spin" style="font-size:100px"></i>
        </div>
        <div ng-if="isDataNotFound" style="text-align: center;font-size: 18px;padding-top: 10px; padding-bottom:10px;">
            Data Not Found
        </div>
        <div ng-hide="mobileInputVisible">
             <div class="form-group" id="first-input" style="margin-top:20%;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="text" style="text-align: center;font-size: 18px;" id="mobile" name="mobile" placeholder="Enter Mobile No" ng-model="mobileNumber">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  style="margin-top:10px;">
                    <button class="btn btn-success common-submit-btn" ng-click="getUserRewardedReferraly()">Submit</button>
                </div>
            </div>
        </div>


        <div id="user-reward-container" ng-if="isDataLoaded && !isDataNotFound">
        <div class="text-center">
            <div id="logo-wrapper">
                <img class="img-circle shop-logo" src="{{merchantData.logos.mobileWeb}}" width="125" height="125"/>
            </div>
        </div>
            <div class="text-center" style="padding-top:10px;">
                <div class="shop-title">{{merchantData.name}}</div>
            </div>
            <!--<header>
                <div id="reward-text">
                    Get 5 points for every &#8377;100 spent.
                </div>
            </header>
-->
            <section id="user-reward-point">
                <div class="container">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                
                                <div class="col-4" style="text-align: center;">
                                    <p>Spades</p>
                                    <h4 class="offer-h4" id="current-points">{{userRewarded.spades}}</h4>

                                </div>
                                <div class="col-4" style="text-align: center;">
                                    <p>Transactions</p>
                                    <h4 class="offer-h4" id="visit">{{userRewarded.visits || 0}}</h4>

                                </div>
                                <div class="col-4" style="text-align: center;">
                                    <p>Joined</p>
                                    <h4 class="offer-h4" id="joined">{{(userRewarded.memberSince | date:"MMM d, y")  || '--'}}</h4>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div ng-cloak="" class="tabsdemoDynamicHeight">
                        <md-content>
                            <md-tabs md-dynamic-height="" md-border-bottom="">
                                <md-tab label="{{tabs[0]}}">
                                    <md-content class="md-padding">
                                        <table class="table table-bordered table-hover table-curved">
                                            <thead>
                                            <tr>
                                                <th class="reward-table-header">Name</th>
                                                <th class="reward-table-header">{{tabs[0]}}</th>
                                            </tr>
                                            </thead>

                                            <tbody id="offer-data">
                                            <tr ng-repeat="userIncentive in userIncentives">
                                                <td>{{userIncentive.name}}</td>
                                                <td>{{userIncentive.cardText || userIncentive.smsText || '--'}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </md-content>
                                </md-tab>
                                <md-tab label="{{tabs[1]}}">
                                    <md-content class="md-padding">
                                        <table class="table table-bordered table-hover table-curved">
                                            <thead>
                                            <tr>
                                                <th class="reward-table-header">Spades</th>
                                                <th class="reward-table-header">Rewards</th>
                                            </tr>
                                            </thead>

                                            <tbody id="rewarded-data">
                                            <tr ng-repeat="data in userCashbacks">
                                                <td>{{data.spades}}</td>
                                                <td>{{ data.cardText || data.smsText || '--'}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-content>
                    </div>
                </div>
            </section>
        </div>
        <div ng-if="footerText" style="text-align: center; margin-top:4%;">
            <div style="display: inline-block; text-align: left;">
                <div style="text-align: left;" class="term-condition-label">Terms &amp; Conditions</div>
                <div ng-bind-html="footerText" class="term-condition" ></div>
            </div>
        </div>
        <div class="text-center" style="margin-top:5%;">
            <div>Powered By</div>
            <img class="img-fluid img-125" src="images/greenspade_logo_green_4textvertical.png" alt="Theme-Logo"/>
        </div>
    </div>
</main>
